apiVersion: core.eda.nokia.com/v1
kind: Workflow
metadata:
  name: netbox-install
  namespace: eda-system
spec:
  type: app-installer
  input:
    operation: install
    apps:
      - appId: netbox.eda.nokia.com
        catalog: eda-catalog-builtin-apps
        version:
          type: semver
          value: v3.0.0
